root = true

[*]
charset = utf-8
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
curly_bracket_next_line = false
spaces_around_operators = true

[*.md]
max_line_length = 0
trim_trailing_whitespace = false

[*.sh]
spaces_around_operators = false
end_of_line = lf
